body {
  font-family: "Helvetica Neue", Geneva, sans-serif;
  background: linear-gradient(to bottom, #ece9e6, #ffffff);
  margin: 0;
  padding: 40px;
}

h1 {
  color: #a1000f;
  font-family: Rockwell, serif;
  text-align: center;
}

h3 {
  color: #7f0bc6;
  font-family: Bookman, serif;
  text-align: center;
}

ul {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-left: 5px solid #e74c3c;
}
